@keyframes svelte-tibptj-gradient{0%{background-position:0% 50%}50%{background-position:100% 50%}to{background-position:0% 50%}}.animate-gradient.svelte-tibptj{animation:svelte-tibptj-gradient 6s ease infinite}
